body {
    padding: 10px;
}


nav{
    font-family: monospace;
}


.description{
    font-weight:300;
    font-family:monospace;
    font-size:15px ;
}

.price{
    font-size: 30px;
    font-family: serif;
}
.listing-price{
    font-size: 20px;
    font-family:monospace;
}

.title{
    font-weight:600;
}

.listing-title{
    font-weight:600;
    font-size: 40px;
    margin-bottom: 2px;
}

.listing_item{
    color: inherit;
    display: block;
   

}
.listing_item:hover{
    text-decoration: none;
}

.comments{
    font-family: monospace;
    margin-bottom: 2px;
}

.watchlist-link:hover{
    border-color: green;
}