{% extends 'auctions/layout.html' %}




{% block body %}
    <div class="container text-center p-2">
            {% for category in categories %}
                <a href="{% url 'category_filter' category%}" class="category  w-25 mx-auto ">
                    <div class="border p-1 mb-3 ">
                        <p class="p-2 border mt-3 price lead"> {{category}}</p>
                    </div>
                </a>
            {%empty%}
                <p>empty</p>
            {% endfor %} 
    </div>
{% endblock body %}