{% extends 'auctions/layout.html' %}

{% block watchlist %}
    {{watchlist.count}}
{% endblock watchlist %}

{% block body %}

   <!-- flash_messages -->
   {% for message in messages %}
   <div class=" alert {{ message.tags }} alert-dismissible text-center" role="alert">
   <button type="button" class="close " data-bs-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
   </button>
   {{ message | safe }}
   </div>
    {% endfor %} 


<div class="container mt-5 ">
    <form method="post" class="w-75 m-auto">
        {%csrf_token%}
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <div class="input-group mb-4">
            <span class="input-group-text">$</span>
            <input class="form-control" type="number" step="0.01" name="price" placeholder="Starting Price">
        </div>

        <div class="form-floating mb-4">
            <textarea class="form-control" placeholder="Listing description" name="description" id="floatingTextarea"></textarea>
        </div>
          <p class="text fst-italic lead text-muted">Optional</p>
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Category</span>
            <input class="form-control" name="category" placeholder="Category" value="None"  type="text" list="categories" />
            <datalist id="categories">
                {% for category in available_categories  %}
                <option>{{category.name}}</option>
                {% endfor %}
            </datalist>
        </div>

        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Image url for listing</span>
            <input type="text" class="form-control" name="image_url" id="basic-url" aria-describedby="basic-addon3"  value="None">   
        </div>
        <div class="row">
            <input class="btn btn-dark mx-auto px-4 mt-3" type="submit" value="Create">
        </div>
    </form>

    <div>
        <img src="https://www.collinsdictionary.com/images/full/sword_120114541.jpg" height="400" width="500" alt= "image">
    </div>


    {% if message %}
    <div class="text-danger text-center pt-3">{{ message }}</div>
    {% endif %}
</div>
{% endblock body %}
