{% extends "auctions/layout.html" %}

{% block body %}
    {% if active_listings %}
    recieved query set
    {% endif %}
    <div class="container  overflow-hidden">

        {% for listing in active_listings %}
            {% if forloop.first %}<div class="row justify-content-between border mb-3 ">{% endif %}
            <a href="" class="listing_item"> 
                <div class="col-md-4  ">
                    <div class="border border-primary lead title">
                        <div class="text-center">
                            <img src="{{listing.ListingImageUrl}}" height="200" width="270" alt= "image">
                        </div>
                       
                        <div class="border bg-light ">
                        {{listing.title}}
                         <p class="price text-success">{{listing.price}}0</p> 
                        <p class="text-break description fw-light"><i>{{listing.description}}</i></p>
                        </div>    
                    </div>
            </a>
                
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row ">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </div>
{% endblock %}