{% extends "auctions/layout.html" %}

{% block body %}

    <!-- flash_messages -->
    {% for message in messages %}
        <div class=" alert {{ message.tags }} alert-dismissible text-center" role="alert">
        <button type="button" class="close " data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message | safe }}
        </div>
    {%endfor%}%

    <h2 class="text-center">Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div class="container">
        <form action="{% url 'register' %}" method="post" class="w-75 m-auto">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" autofocus name="firstname" placeholder="First Name" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" autofocus name="lastname" placeholder="Last Name" >
            </div>
            <div class="form-group">
                <input class="form-control"  type="text" name="username" placeholder="Username">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
            </div>
            <div class="row">
                <input class="btn btn-dark mx-auto px-4" type="submit" value="Register">
            </div>
           
        </form>
    </div>
   
    <p class="text-center mt-3">Already have an account? <a href="{% url 'login' %}">Log In here.</a></p> 

{% endblock %}